<header class="border-b border-gray-300 bg-[#dddddd]">
<div class="container px-4  mx-auto py-6">
    <div class="flex justify-between">
        <div class="">Logos</div>
        <nav class="">
            <ul class="flex gap-4">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contacts</a></li>
            </ul>
        </nav>
        <div class="">
            social links
        </div>

    </div>
</div>
</header>