<header class="border-b border-gray-300 bg-[#dddddd]">
<div class="container px-4  mx-auto py-6">
    <div class="flex justify-between">
        <div class="">
            <a href="{{ .Site.BaseURL }}" aria-label="На главную">
                {{/* readFile "assets/images/logo.svg" | safeHTML */}}
            </a>
        </div>
        <nav class="">
            <ul class="flex gap-4">
            {{ $current := .Page.RelPermalink }}
            {{ range site.Data.menu.main }}
                {{ if .isMain }}
                    {{ $isActive := eq $current .url }}
                    <li>
                        <a href="{{ .url }}" class="{{ if $isActive }} text-red-400{{ end }}" {{ if .isExternal }} target="_blank" {{end}}>
                            <span>{{ .title }}</span>
                            {{/* partial "icons/arrow-menu.html" . */}}
                        </a>
                    </li>
                {{ end }}
            {{ end }}
            </ul>
            
        </nav>
        <div class="">
            {{ .Site.Data.config.contact.phone }}
        </div>

    </div>
</div>
</header>