<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <base href="{{ .Site.BaseURL }}">

    {{- partialCached "css.html" . -}}
</head>
<body>
    <div class="">
        {{ partial "header.html" . }}

        <main>
            <div class="container mx-auto py-10">
            {{ block "main" . }}{{ end }}
            </div>
        </main>


        {{ partial "footer.html" . }}

        <footer>
            <div class="container">
                <div class="">
                    <div class="">
                        &copy; Название
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>